li{
    border-radius: 50px;
    color:var(--secondary-color);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: var(--primary-color);
}

.done{
    background-color: #138D75;
}

.notDone{
    background-color: #9B393E;
}