ul{
    list-style: none;
    width: 80%;
    margin: auto;
}

.container-item{
    position: relative;
}

.button-delete{
    position: absolute;
    top: 4px;
    right: 35px;
    border: none;
    border-radius: 10px;
    color: var(--primary-color);
    padding: 8px;
    cursor: pointer;
}

.button-delete-green{
    background-color: #005700;
}

.button-delete-red{
    background-color: #5F1212;
}

.button-delete span{
    background-color: transparent;
}