ul{
    list-style: none;
    width: 80%;
    margin: auto;
}

.container-item{
    position: relative;
}

.button-delete{
    position: absolute;
    top: 4px;
    right: 35px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    color: var(--secondary-color);
    border: none;
    padding: 8px
}

.button-delete span{
    background-color: transparent;
}